#walrus{
  display: none;
}

#fact1{
  display:none;
}

#fact2{
  display: none;
}

.btn-default{
  border: 2px solid black;
  background: gray;
}

.night-mode {
  background-color: gray;
  color: white;
}

.introClass{
  border: 5px solid black;
  background-color: yellow;
  color: black;
}
